In [28]:
import requests
import json
import pandas as pd

In [29]:
# Ваши учетные данные API
client_id = "__"
client_secret = "__"

# Конечная точка API
endpoint = "https://api.foursquare.com/v3/places/search"

In [30]:
# Определение параметров для запроса API
city = input("Введите название города: ")
restaurant = input("Введите тип заведения: ")
params = {
    "client_id": client_id,
    "client_secret": client_secret,
    "near": city,
    "query": "restaurant"
}

headers = {
    "Accept": "application/json",
    "Authorization": "fsq3V3AFHzvqod5PVkb9j5ptfec29VfLTGG2XbHrQEGC8bI="
}

In [31]:
# Отправка запроса API и получение ответа
response = requests.get(endpoint, params=params,headers=headers)

# Проверка успешности запроса API
if response.status_code == 200:
    print("Успешный запрос API!")
    data = json.loads(response.text)
    venues = data["results"]
    for venue in venues:
        print("Название:", venue["name"])
        try:
            address = venue["location"]["address"]
        except KeyError:
            address = "Адрес не указан"
        print("Адрес:", address)
        print("\n")
        df = pd.concat([df, pd.DataFrame([{'Название': venue["name"], 'Адрес': address}])], ignore_index=True)


else:
    print("Запрос API завершился неудачей с кодом состояния:", response.status_code)
    print(response.text)

Успешный запрос API!
Название: Flat Iron
Адрес: 17-18 Henrietta St


Название: Dishoom
Адрес: 12 Upper St Martin’s Lane


Название: SUSHISAMBA Covent Garden
Адрес: 35 The Market


Название: Arôme Bakery
Адрес: 9 Mercer St


Название: Ole & Steen
Адрес: St James


Название: The Century Kitchen
Адрес: 63 Shaftesbury Ave


Название: Flat Iron
Адрес: 17 Beak St


Название: Kingly Court
Адрес: Kingly Ct


Название: Dishoom Carnaby
Адрес: 22 Kingly St


Название: Gymkhana
Адрес: 42 Albemarle St

In [32]:
df.head()

                   Название                      Адрес
0                 Flat Iron         17-18 Henrietta St
1                   Dishoom  12 Upper St Martin’s Lane
2  SUSHISAMBA Covent Garden              35 The Market
3              Arôme Bakery                9 Mercer St
4               Ole & Steen                   St James